<mat-toolbar class="shell-toolbar">
  <button mat-icon-button (click)="toggleNav()" aria-label="Toggle navigation menu">
    <mat-icon>menu</mat-icon>
  </button>

  @if (!isMobile()) {
    <a routerLink="/" class="shell-brand" aria-label="warcraft-learner home">
      <svg class="shell-brand__mark" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
        <path class="shell-brand__shield" d="M16 4 L27 7 L27 15.5 C27 21.5 22.5 26.5 16 29 C9.5 26.5 5 21.5 5 15.5 L5 7 Z"/>
        <g class="shell-brand__bars">
          <rect x="9.5" y="18" width="3" height="4" rx="1"/>
          <rect x="14.5" y="14" width="3" height="8" rx="1"/>
          <rect x="19.5" y="10" width="3" height="12" rx="1"/>
        </g>
      </svg>
      <span class="shell-brand__name">warcraft-learner</span>
    </a>
  }

  <span class="shell-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Account menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    @if (auth.isLoggedIn()) {
      <button mat-menu-item (click)="signOut()">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    } @else {
      <button mat-menu-item (click)="signIn()">
        <mat-icon>login</mat-icon>
        <span>Sign in</span>
      </button>
    }
    <mat-divider />
    <a mat-menu-item [href]="githubUrl" target="_blank" rel="noopener noreferrer">
      <mat-icon svgIcon="github"></mat-icon>
      <span>View on GitHub</span>
    </a>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="shell-container" [autosize]="!isMobile()">
  <mat-sidenav [mode]="sidenavMode()" [opened]="sidenavOpened()"
               (openedChange)="onOpenedChange($event)"
               [style.width.px]="showLabels() ? 240 : 72">
    @if (isMobile()) {
      <a routerLink="/" class="shell-drawer-brand" (click)="onNavigate()"
         aria-label="warcraft-learner home">
        <svg class="shell-brand__mark" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
          <path class="shell-brand__shield" d="M16 4 L27 7 L27 15.5 C27 21.5 22.5 26.5 16 29 C9.5 26.5 5 21.5 5 15.5 L5 7 Z"/>
          <g class="shell-brand__bars">
            <rect x="9.5" y="18" width="3" height="4" rx="1"/>
            <rect x="14.5" y="14" width="3" height="8" rx="1"/>
            <rect x="19.5" y="10" width="3" height="12" rx="1"/>
          </g>
        </svg>
        <span class="shell-brand__name">warcraft-learner</span>
      </a>
      <mat-divider />
    }

    <mat-nav-list>
      <a mat-list-item routerLink="/pre" routerLinkActive #pre="routerLinkActive"
         [activated]="pre.isActive" (click)="onNavigate()"
         matTooltip="Pre-Fight" matTooltipPosition="right" [matTooltipDisabled]="showLabels()">
        <mat-icon matListItemIcon>shield</mat-icon>
        @if (showLabels()) { <span matListItemTitle>Pre-Fight</span> }
      </a>
      <a mat-list-item routerLink="/live" routerLinkActive #live="routerLinkActive"
         [activated]="live.isActive" (click)="onNavigate()"
         matTooltip="Live" matTooltipPosition="right" [matTooltipDisabled]="showLabels()">
        <mat-icon matListItemIcon>sensors</mat-icon>
        @if (showLabels()) { <span matListItemTitle>Live</span> }
      </a>
      <a mat-list-item routerLink="/" routerLinkActive #post="routerLinkActive"
         [routerLinkActiveOptions]="{exact:true}" [activated]="post.isActive" (click)="onNavigate()"
         matTooltip="Post-Raid" matTooltipPosition="right" [matTooltipDisabled]="showLabels()">
        <mat-icon matListItemIcon>analytics</mat-icon>
        @if (showLabels()) { <span matListItemTitle>Post-Raid</span> }
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
